#white{
    color: white !important;
    margin: 1%;
}
.logo{
    background-color: #222f3f;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -1%;
    padding: 1%;
}
nav{
    background-color: #364759;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -1%;
    padding-left: 1%;
    color: white;
}
.arancione{
    background-color: #f56600;
    text-align: center;
    margin: 2%;
    color: white;
    padding: 1px;
}


main{
    background-color: #e9edee;
    padding: 1%;
}
.sottoarancio{
    background-image: url(./assets/bg-image.png);
    color: white;
    text-align: center;
    margin: 2%;
    height: 200px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.titoli{
    padding: 3%;
}
.contenitoreimg{
    background-color: #ffffff;
    display: flex;
    margin: 2%;
    justify-content: space-around;
}
.titimg{
    background-color: white;
    margin: 2%;
}
h2{
    padding: 1%;
}
.picture{
    padding-bottom: 2%;
    border-radius: 50px;
    width: 250px;
}
.principimg{
    max-width: -webkit-fill-available;
    margin: 2%;
}
.specialh2{
    text-align: center;
    margin: -3%;
}
a{
    font-size: 80%;
    text-decoration: none!important;
    color: #3c7f93 !important;
      
}
.last{
    padding-bottom: 2%;
}
h2{
    font-size: 20px;
}
.footer1{
    background-color: #364759;
    color: white;
    text-decoration: none;
    padding: 1%;
}
.footer2{
    background-color: #222f3f;
    padding: 1%;
    text-align: center;
}

#speciala{
    color: white !important;
}
.logofooter{
    width: 100px;
    padding: 2%;
}
